.card-my-character {
  cursor: pointer;
  &:hover {
    animation-duration: 2s;
    animation-name: rebotar;
    border: 2px solid #000000;
  }
  width: 300px;
}

.card-my-character__avatar {
  width: 2.5rem;
}

.card-my-character__image {
  width: 60%;
  height: 60%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
}

.card-my-character__episodes-title {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0px;
}

.card-my-character__episodes {
  height: 80px;
  overflow-y: scroll;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0px 10px;
}

.card-my-character__add-favorite {
 width: 3rem;
 height: 3rem;
 font-size: 3rem;
 margin-left: auto;
}

.card-my-character__dialog__ranking {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card-my-character__comment {
  text-align: justify;
}

.start--yellow {
  color: rgb(213, 213, 63);
}

.card-my-character__button {
  padding: 0px;
  margin-left: auto;
}

@keyframes rebotar {
  0%, 20%, 50%, 80% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
