<mat-toolbar color="primary" class="toolbar--fixed">
  <a routerLink="/" class="toolbar-link"> Rick and Morty</a
  ><span class="divider-spacer"></span>
  <button
    matTooltip="Lista de personajes"
    routerLink="/characters"
    mat-icon-button
    *ngIf="showItems"
  >
    <mat-icon>list_alt</mat-icon>
  </button>
  <button
    matTooltip="Mi lista de personajes"
    routerLink="/my-character-list"
    mat-icon-button
    *ngIf="showItems"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    matTooltip="Ver perfil"
    routerLink="/profile"
    *ngIf="showItems"
    mat-icon-button
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    matTooltip="Cerrar sesión"
    (click)="onLogout()"
    *ngIf="showItems"
    mat-icon-button
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
