<mat-toolbar color="primary">
  <a routerLink="/" class="toolbar-link"> Rick and Morty</a>
  <span class="divider-spacer"></span>
  <button matTooltip="Lista de personajes" routerLink="/auth/login" mat-icon-button>
    <mat-icon>list_alt</mat-icon>
  </button>
  <button matTooltip="Mi lista de personajes" routerLink="/my-character-list" mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button matTooltip="Ver perfil" routerLink="/profile" mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
