<div class="grid-characters">
  <div class="grid-characters__search">
    <h1 class="grid-characters__title">Personajes</h1>
    <mat-form-field appearance="outline">
      <mat-label>Buscar por nombre</mat-label>
      <input
        type="text"
        [(ngModel)]="searchValue"
        (ngModelChange)="onSearching($event)"
        matInput
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="grid-characters__list">
    <mat-grid-list
      [cols]="breakpoint"
      rowHeight="500px"
      (window:resize)="handleSize($event)"
    >
      <mat-grid-tile *ngFor="let item of characterListSearched">
        <app-item-character
          [id]="item.id!"
          [image]="item.image!"
          [name]="item.name!"
          [gender]="item.gender!"
          [episodes]="item.episode!"
          [status]="item.status!"
          (sendId)="openDialog(item.id!)"
        ></app-item-character>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
