<mat-card>
  <mat-card-content>
    <div mat-dialog-content class="dialog__content">
      <h1 mat-dialog-title>Califica al personaje</h1>
      <div class="dialog__ranking">
        Rating:
        <mat-icon
          matSuffix
          class="dialog__ranking__start"
          (click)="onSetRating(1)"
          >star</mat-icon
        >
        <mat-icon
          matSuffix
          class="dialog__ranking__start"
          (click)="onSetRating(2)"
          >star</mat-icon
        >
        <mat-icon
          matSuffix
          class="dialog__ranking__start"
          (click)="onSetRating(3)"
          >star</mat-icon
        >
        <mat-icon
          matSuffix
          class="dialog__ranking__start"
          (click)="onSetRating(4)"
          >star</mat-icon
        >
        <mat-icon
          matSuffix
          class="dialog__ranking__start"
          (click)="onSetRating(5)"
          >star</mat-icon
        >
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Comentario:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          [(ngModel)]="commentValue"
          (ngModelChange)="onAddComment($event)"
        ></textarea>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button
        mat-raised-button
        ma
        t-dialog-close
        color="primary"
        (click)="onSendData()"
      >
        Añadir a mi lista
      </button>
    </div>
  </mat-card-content>
</mat-card>
