.dialog__content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.dialog__ranking {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dialog__ranking__start {
  color: rgb(213, 213, 63);
}
