<div class="container-register">
  <mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-content>
          <h3 class="card__title">{{ title }}</h3>
          <form
            class="register-form"
            [formGroup]="registerForm"
            id="registerForm"
            (ngSubmit)="onSubmit()"
          >
            <mat-form-field appearance="outline">
              <mat-label>Nombres y Apellidos</mat-label>
              <input type="text" formControlName="fullName" matInput required />
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="fullName.errors?.['required']"
                >El nombre es requerido</mat-error
              >
              <mat-error *ngIf="fullName.errors?.['minlength']"
                >Debe tener minimo 4 caracteres</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nickname</mat-label>
              <input type="text" formControlName="nickname" matInput />
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="nickname.errors?.['required']"
                >El nickname es requerido</mat-error
              >
              <mat-error *ngIf="nickname.errors?.['minlength']"
                >Debe tener minimo 6 caracteres</mat-error
              >
              <mat-error
                *ngIf="
                  registerForm.get('nickname')?.hasError('nicknameAlreadyExist')
                "
              >
                El nickname <strong>ya existe</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Correo</mat-label>
              <input type="email" formControlName="email" matInput />
              <mat-icon matSuffix>alternate_email</mat-icon>
              <mat-error *ngIf="email.errors?.['required']"
                >El email es requerido</mat-error
              >
              <mat-error *ngIf="email.errors?.['pattern']"
                >El email es invalido</mat-error
              >
              <mat-error
                *ngIf="registerForm.get('email')?.hasError('userAlreadyExist')"
              >
                El correo <strong>ya existe</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input type="password" formControlName="password" matInput />
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error *ngIf="password.errors?.['required']">
                La constraseña es requerida
              </mat-error>
              <mat-error *ngIf="password.errors?.['minlength']"
                >Debe tener minimo 8 caracteres</mat-error
              >
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">
              Registrarme
            </button>
            <p class="question">
              ¿ Ya tienes cuenta ?
              <a routerLink="/auth/login" class="link">Ingresar</a>
            </p>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
