/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  &:hover {
    color: #055ea2;
    text-decoration-line: underline;
  }
}
